version: '2.4'

networks:
    network:

services:
  postgres:
    image: postgres:${INFR_POSTGRES_CT_TAG}
    restart: always
    ports:
      - 5432:5432/tcp
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: blog
    volumes:
      - postgres-data-volume:/var/lib/postgresql/data
    networks:
      network:
        aliases:
          - postgres

volumes:
    postgres-data-volume:
